*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fafafa;
    color: #1f1919;
    margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(168, 50, 50);
}

.bg-steel {
    background-color: #410d05;
}

.site-header .navbar-nav .nav-link {
    color: white;
}