{% extends "index.html" %}
{% block content %}
    {% for pitch in pitches %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <h2><a class="mr-2" href="#">{{ pitch.author }}</a></h2>
                    <small class="text-dark">{{ pitch.date_posted }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ pitch.title }}</a></h2>
                <p class="article-content">{{ pitch.content }}</p>
            </div>
        </article>
    {% endfor %}    
{% endblock %}